.w2m-options-contents{
width:1024px;
margin-left:15px;
}
.w2m-options-description{
margin: 0;
margin-bottom:15px;
}
.w2m-options-table-header{
/*background-image: url("Myspace-table-border.png"); */
background-color: #425989;
width:800px;
height:30px;
color:#fff;
font-weight:bold;
-moz-box-sizing:border-box;
box-sizing:border-box;
margin: 0;
padding:0px;
padding-left: 5px;
padding-top:5px;
padding-bottom:1px;
}
.w2m-options-table-row{
background-image: url("W2M Options row-1px.jpg");
width:800px;
height:50px;
color:#fff;
font-weight:bold;
-moz-box-sizing:border-box;
box-sizing:border-box;
margin: 0;
padding:0px;
padding-left: 5px;
padding-top:5px;
padding-bottom:1px;

}

.w2m-options-submit{
background-image: url("Myspace-button-new.jpg");
border:1px solid #91a8b8;
font-weight:bold;
padding: 3px 5px;
-moz-border-radius:8px;

border-radius:8px;
/*

background-image: url("Myspace-button-full.jpg");
font-weight:bold;
width:84px;
*/
}

.w2m-options-submit:hover{
background-image: url("Myspace-button-new-hovered.jpg");
border:1px solid #91a8b8;

/*
background-image: url("Myspace-button-full-hovered.png");
*/
}

h4{
/* background-image: url("Myspace-table-border.png"); */
/* color: #FFCC66; */
color:#fff
}